<header class="px-4 sm:px-6 lg:px-8">
  <div class="flex items-center justify-between border-b border-zinc-100 py-3 text-sm">
    <div class="flex items-center gap-4">
      <a href="/">
        <img src={~p"/images/logo.svg"} width="36" />
      </a>
      <a class="text-orange-500 px-2 font-bold text-xl leading-6" href={~p"/bin"}>
        Request Bin
      </a>
    </div>
  </div>
</header>
<main>
  <.flash_group flash={@flash} />
  {@inner_content}
</main>
